@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff; /* 背景は白 */
  --foreground: #000000; /* 文字は黒に固定 */
}

/* ダークモードも無視して黒に固定 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #5f8f4e;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'DotGothic16', sans-serif;
}


